<div class="modal fade" id="confirmarModal{{ task.id }}" tabindex="-1" aria-labelledby="confirmarModalLabel{{ task.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'delete_task' task.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmarModalLabel{{ task.id }}">Confirmar acción</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro que desea eliminar esta tarea?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>